<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
      http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
      http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xs
      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	<import resource="spring-mybatis.xml" />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.fuanna.h5.buy" />

	<bean id="systemInit" class="com.fuanna.h5.buy.base.SystemInit"
		init-method="init"></bean>

	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<constructor-arg>
					<props>
						<!-- 是否有边框 可选yes 或者 no -->
						<prop key="kaptcha.border">no</prop>
						<!-- 边框颜色 -->
						<!-- <prop key="kaptcha.border.color">233,236,243</prop> -->
						<!-- 验证码文本字符颜色 -->
						<prop key="kaptcha.textproducer.font.color">211,211,211</prop>
						<!-- 验证码文本字符大小 -->
						<prop key="kaptcha.textproducer.font.size">40</prop>
						<!-- 验证码图片的宽度 默认200 -->
						<!--<prop key="kaptcha.image.width">125</prop> -->
						<!-- 验证码图片的高度 默认50 -->
						<!--<prop key="kaptcha.image.height">45</prop> -->
						<!-- 验证码文本字符长度 默认为5 -->
						<prop key="kaptcha.textproducer.char.length">4</prop>
						<prop key="kaptcha.background.clear.from">255,255,255</prop>
						<prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.ShadowGimpy</prop>
						<!-- 验证码文本字体样式 默认为new Font("Arial", 1, fontSize), new Font("Courier", 
							1, fontSize) -->
						<prop key="kaptcha.textproducer.font.names">微软雅黑</prop>
						<prop key="kaptcha.noise.color">190,190,190</prop>
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/shop/cart.do" />
			<bean class="com.fuanna.h5.buy.interceptor.LoginInterceptor" />
		</mvc:interceptor>
		<!--后台管理登陆拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/admin/**" />
			<mvc:exclude-mapping path="/imageCode.do"/>
			<mvc:exclude-mapping path="/admin/login.do"/>
			<mvc:exclude-mapping path="/admin/logout.do"/>
			<mvc:exclude-mapping path="/admin/adminLogin.do"/>
			<bean class="com.fuanna.h5.buy.interceptor.AdminLoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>  
	
	<bean id="fuannaHandler" class="com.fuanna.h5.buy.base.FuannaHandler"></bean>
	<aop:config>
		<!--<aop:pointcut expression="execution(public * com.fuanna.h5.buy.controller..*.*(..))" 
			id="pointcut" /> -->
			<!-- execution(public * com.fuanna.h5.buy.controller.admin.*.*(..)) and 
			     !execution(public * com.fuanna.h5.buy.controller.admin.AdminController.*(..))-->
		<aop:pointcut
			expression="execution(public * com.fuanna.h5.buy.controller.admin.AdminController.*(..))"
			id="pointcut" />
		<aop:aspect id="fuannaErrorAspect" ref="fuannaHandler">
			<aop:around method="round" pointcut-ref="pointcut" />
			<aop:after-returning method="afterReturn" pointcut-ref="pointcut" />
		</aop:aspect>
	</aop:config>
</beans>