* {
	margin: 0px;
	padding: 0px;
}

html, body {
	font-family: "Microsoft YaHei";
	color:#868686;
    height:100%;
}
.shade {
	height:900px;
	width:100%;
	position:absolute;
	z-index:1;
	background-color:#666666;
	opacity: 0.5;
}